div {
    padding: 30px;
    width: 100px;
    height: 100px;
    position: absolute;
}
  #a1 {
      background-color: lightblue;
      width:100%;
      height:100%
  }
  #a2 {
      background-color: lightgrey;
      top: 0;
      right: 0;
      width: 100px;
    height: 100%;
  }
  #a3 {
    background-color: lightseagreen;
    top: 0;
    left: 0;
    width: 100px;
  height: 100%;
  }
  #a4 {
    background-color: lightpink;
    bottom: 0;
    right: 0;
    width:100%;
     
  }
  #a5 {
      background-color: cadetblue;
      top: 0;
    left:0;
      width: 100%;
  }
