body {
    
    margin:0;
    
}
main {
    font-family: Arial, Helvetica, sans-serif;
    width:350px;
    margin:auto;
    height:100%;
    overflow-y:scroll;
    
}


.menu {
    
    background-color: #252a3a;
    padding-top:10px;
    padding-bottom:15px;  
}

/*.menu:hover{
    height:100%;  
    display:block;
    
}*/
.menu p{
    
    padding-top:10px;
    padding-left:20px;
    color:rgb(34, 146, 180);
    
}


.reszta_menu{
    color:white;
    margin-left: 20px;
    text-decoration: none;
}
 ul {
    list-style-type: square;
    font-size:16px;

}
#przycisk{
    outline:none;
    border:none;
    color:cornflowerblue;
    background:none;
    padding-left: 300px;

}
#Compose {
    border-radius:20px;
    padding: 8px;
    margin:  16px;
    background-color: #1B98F8;
    border: none;
    color: white;
    width: 50%;
margin-left: 25%;
margin-right: 25%
}


   


.wiadomosci {
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 5fr;
    border-top:14px;
    border-bottom: 1px solid rgb(212,212,212);
    
}
.wiadomosci:hover {
    background-color: #eee;
}

.tresc {
    color:black;
}

.avatar {
    width:42px;
    height:42px;
    border-radius: 3px;
    margin-right:8px;
    margin-top: 20px;
    margin-left:10px;
}
.imie {
    font-size: 13px;
    color:#999;
    text-transform: uppercase;
    border-bottom: 0px;
}
.maile {
    border-bottom: 1px solid rgb(212,212,212);
    display: grid;
    grid-template-columns:50% 50%;
    height:auto;
   
}
#tytul {
   color:black;
   font-size: 32px;
}
.przyciski {
    border-top:6px;
    border-bottom:26px;
    color: #666;
    border-radius:20px;
    size: 5px;
}
#przyciski {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:10px;
    margin:10px;
}
#info {
    font-size:16px;
    color:black;
}
.from {
    color: #1b90f8;
}
.tresci {
    font-size:16px;
    margin:16px;
}



@media screen and (min-width: 960px) {
    main {
      height:100%;
      width: 100%;
      display:flex;
      flex-direction: row;
      overflow:none;
      
    }
    .menu {
        width: 20%;
        
    }
    .maile {
       width: auto;
       height:15%;
       
    }
   
  
  #przycisk{
      display:none;
  }

  
  #selektor {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 960px) and (max-height: 600px){
    main {
        display:grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
       
    }
    
}