body {
    margin:0;
    background-color: #f3f4f5; 
    margin-left:300px;
    margin-right:300px;
    }

    
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
  }
  
  .nav a {
      
      font-size: 20px;
      padding: 0.3em 1.2em;
      border-radius: 3px;
  } 
  .active {
      background-color: #ffc000;
  } 
  .nav a:hover {
      background-color: #646d72;
  }

  #mock {
    width:200px;
    height:122px;
    border: solid 6px #fff;
  }
  .heading1 {
   display:grid;
   grid-template-columns: 70% 30%;
  }
  .firstLine img {
      width: 740px;
  }
  .secondLine img {
    width:255px;
    height: 100px;
  }
 /* .thirdLine {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
  }*/

  .thirdLine img {
   width:162px;
   height:100px;
  }

  .footable {
      display:table-cell;
      padding: 8px;
      font-size:16px;
      padding: .5em;
      vertical-align: top;
      border: 1px solid #dde1e5;
 
  }
  .wrapper-clearfix {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #cad2d7;
    padding-top:50px;
    padding-bottom:30px;   
}
h4 {
    color:#2d3438;
    font-size: 24px;
    margin-bottom:12px;
    margin-top:25px;
}
.main-wrapper-clearfix {
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #cad2d7;
    font-size: 5px;
	color: #9fa6aa;
	padding: 50px 300px 50px 300px;
	margin-top: 20px;
    margin-left:300px;
    margin-right:300px;
}

.foot-left{
	font-size: 14px;
}

.foot-right {
    position:relative;
    left:100%;
    color: #9fa6aa;
}

.social {
    filter: invert(90%);
    size:50px;
}
